table{

    margin-left: auto;
    margin-right: auto;

    thead {
        background-color: $base-color;
        color: $page-background-color;
    }

    tr:nth-child(even){
        background-color:   $page-background-color;
    }

    th:first-child, td:first-child {
        padding-left: 12px;
    }
    th:last-child, td:last-child {
        padding-right: 12px;
    }

    th, td {
        border-bottom: 0;
    }

}

div.table-wrapper{
    overflow-x: auto;
}